/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 15px; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
/*************************/
/*	Variables and Mixins
/*************************/
@keyframes fly {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 12px); }
  100% {
    transform: translate(0, 0); } }
@keyframes swing {
  0% {
    transform: rotate(-3deg);
    transform-origin: top center; }
  50% {
    transform: rotate(3deg);
    transform-origin: top center; }
  100% {
    transform: rotate(-3deg);
    transform-origin: top center; } }
/*************************/
/*	Base Elements
/*************************/
* {
  box-sizing: border-box; }

small {
  font-size: 11px;
  line-height: 1.45; }

img {
  max-width: 100%;
  height: auto; }

/*************************/
/*	General Classes
/*************************/
.container {
  max-width: 800px;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.red-text {
  display: block;
  margin: 30px 0 5px;
  color: #ff4d4d; }

/*************************/
/*	Body and Full Screen
/*************************/
html, body, .full-screen, .full-screen-index, .full-screen-register, .full-screen-dream, .full-screen-repost {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1; }

.full-screen, .full-screen-index, .full-screen-register, .full-screen-dream, .full-screen-repost {
  background-color: white;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px; }

.full-screen-index .container {
  text-align: center; }

.full-screen-register {
  background-image: url(../images/iqrushki-2.png), url(../images/podarki.png), url(../images/fon-3.png); }
  .full-screen-register .iqrushki {
    position: absolute;
    top: 0;
    left: 30%;
    height: 18vh;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    animation: swing 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }

.full-screen-dream {
  background-image: url(../images/oblaka.png), url(../images/fon-2.png); }
  .full-screen-dream .dedushka-moroz {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    animation: fly 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }

.full-screen-repost {
  background-image: url(../images/fon-4.png); }
  .full-screen-repost .container {
    text-align: center; }

/*************************/
/*	Navigation
/*************************/
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 30px;
  text-align: center;
  background: rgba(243, 221, 233, 0.6);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(243, 221, 233, 0.6) 0%, rgba(249, 220, 206, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(243, 221, 233, 0.6) 0%, rgba(249, 220, 206, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(243, 221, 233, 0.6) 0%, rgba(249, 220, 206, 0.6) 100%);
  /* W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dde9', endColorstr='#f9dcce',GradientType=0.6 );
  /* IE6-9 */ }
  .main-nav a {
    margin: 0 30px;
    text-decoration: none;
    opacity: 0.7;
    color: #433440;
    font-size: 16px; }
  .main-nav .main-nav-links {
    display: none; }
  .main-nav span {
    color: #433440;
    display: block; }
  .main-nav .selected {
    padding: 10px;
    border-bottom: 3px solid #b6d1ed; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3dde9;
  background-color: rgba(243, 221, 233, 0.9);
  background: rgba(243, 221, 233, 0.8);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(243, 221, 233, 0.8) 0%, rgba(249, 220, 206, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(243, 221, 233, 0.8) 0%, rgba(249, 220, 206, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(243, 221, 233, 0.8) 0%, rgba(249, 220, 206, 0.8) 100%);
  /* W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dde9', endColorstr='#f9dcce',GradientType=0.8 );
  /* IE6-9 */
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #00aeef; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
/*************************/
/*	Divs and Forms
/*************************/
.transparent-paper {
  display: block;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 30px 20px;
  color: #656565;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 3px 5px 8px 0 rgba(102, 102, 102, 0.49);
  border-radius: 0;
  /* Qeydiyyat */
  /* Arzu */ }
  .transparent-paper h1 {
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 32px; }
  .transparent-paper input {
    width: 100%;
    display: block;
    margin: 10px auto;
    background: #f5f5f5;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 15px;
    caret-color: #b6d1ed; }
  .transparent-paper input:focus {
    border: 1px solid #00aeef; }
  .transparent-paper input::placeholder {
    color: #555; }
  .transparent-paper input[type="submit"] {
    background: #00aeef;
    color: #fff;
    max-width: 200px; }
  .transparent-paper .dream-details h2, .transparent-paper .dream-details h3 {
    color: #5916be;
    text-align: center; }
  .transparent-paper .dream-details h2 {
    font-size: 16px;
    margin: 15px 0 5px; }
  .transparent-paper .dream-details h3 {
    font-size: 14px;
    margin: 5px 0 20px; }
  .transparent-paper .profile-photo {
    background-color: #00aeef;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%; }
    .transparent-paper .profile-photo img {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .transparent-paper .dream-click {
    display: block;
    width: 100%;
    border: 2px solid #00aeef;
    text-decoration: none;
    text-transform: uppercase;
    color: #00aeef;
    padding: 10px;
    margin: 0;
    text-align: center;
    transition: 0.2s ease; }
  .transparent-paper .dream-click:hover {
    background-color: #00aeef;
    color: #fff; }

.repost-text {
  position: relative; }
  .repost-text h1 {
    position: absolute;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 10px;
    top: 22%;
    margin: 0 auto;
    width: 100%; }

/*************************/
/*	Xmas Tree
/*************************/
.yelka-container {
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative; }
  .yelka-container .yelka {
    max-height: calc(100vh - 100px); }
  .yelka-container .lights-grid {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 15%;
    left: 1%;
    right: 0;
    bottom: 20%;
    text-align: center; }
    .yelka-container .lights-grid .bulb {
      cursor: pointer;
      display: inline-block;
      width: calc(1% + 10px);
      height: calc(1% + 10px);
      margin: auto;
      background-color: red;
      border-radius: 50%;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      background: #00f7a5;
      box-shadow: 0px 2.5px 30px 3px #00f7a5;
      animation-name: flash-1;
      animation-duration: 2s; }
      .yelka-container .lights-grid .bulb:nth-child(2n+1) {
        background: cyan;
        box-shadow: 0px 2.5px 30px 3px rgba(0, 255, 255, 0.5);
        animation-name: flash-2;
        animation-duration: 0.4s; }
      .yelka-container .lights-grid .bulb:nth-child(4n+2) {
        background: #f70094;
        box-shadow: 0px 2.5px 30px 3px #f70094;
        animation-name: flash-3;
        animation-duration: 1.1s; }
      .yelka-container .lights-grid .bulb:nth-child(odd) {
        animation-duration: 1.8s; }
      .yelka-container .lights-grid .bulb:nth-child(3n+1) {
        animation-duration: 1.4s; }

@keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 2.5px 30px 3px #00f7a5; }
  50% {
    background: rgba(0, 247, 165, 0.6);
    box-shadow: 0px 2.5px 30px 3px rgba(0, 247, 165, 0.2); } }
@keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 2.5px 30px 3px cyan; }
  50% {
    background: rgba(0, 255, 255, 0.6);
    box-shadow: 0px 2.5px 30px 3px rgba(0, 255, 255, 0.2); } }
@keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 2.5px 30px 3px #f70094; }
  50% {
    background: rgba(247, 0, 148, 0.6);
    box-shadow: 0px 2.5px 30px 3px rgba(247, 0, 148, 0.2); } }
/*************************/
/*	Media Queries
/*************************/
@media only screen and (min-width: 600px) {
  .main-nav span {
    display: none; }
  .main-nav .main-nav-links {
    display: block; } }
@media only screen and (min-width: 768px) {
  .full-screen-register .iqrushki {
    left: 20%;
    height: 40vh; }

  .repost-text h1 {
    line-height: 1.1;
    font-size: 25px;
    top: 22%; } }
@media only screen and (min-width: 1024px) {
  .full-screen-register .iqrushki {
    left: 25%;
    height: 50vh; } }

/*# sourceMappingURL=main.css.map */
