@import "reset";
@import "grid";

/*************************/
/*	Variables and Mixins
/*************************/
$globe-width:   15px;
$globe-height:  15px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;
$open-blue-color: #00aeef;
$selected-color: #b6d1ed;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin drop-shadow {
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

@keyframes fly {
  0% { transform: translate(0, 0); }
  50% { transform: translate(0, 12px); }
  100% { transform: translate(0, 0); }
}

@keyframes swing {
  0% { transform: rotate(-3deg); transform-origin: top center; }
  50% { transform: rotate(3deg); transform-origin: top center;}
  100% { transform: rotate(-3deg); transform-origin: top center;}
}

/*************************/
/*	Base Elements
/*************************/
* {
  box-sizing: border-box;
}

small {
  font-size: 11px;
  line-height: 1.45;
}

img {
  max-width: 100%;
  height: auto;
}

/*************************/
/*	General Classes
/*************************/
.container {
  max-width: 800px;
  margin: 0 auto;
  @include clearfix;
}

.red-text {
  display: block;
  margin: 30px 0 5px;
  color: #ff4d4d;
}

/*************************/
/*	Body and Full Screen
/*************************/
html, body, .full-screen {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1;
}

.full-screen {
  background-color: white;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
}

.full-screen-index {
  @extend .full-screen;

  .container {
    text-align: center;
  }
}

.full-screen-register {
  @extend .full-screen;
  background-image:
  url(../images/iqrushki-2.png),
  url(../images/podarki.png),
  url(../images/fon-3.png);

  .iqrushki {
    position: absolute;
    top: 0;
    left: 30%;
    height: 18vh;
    @include drop-shadow;
    animation: swing 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

.full-screen-dream {
  @extend .full-screen;
  background-image:
  url(../images/oblaka.png),
  url(../images/fon-2.png);

  .dedushka-moroz {
    @include drop-shadow;
    animation: fly 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.full-screen-repost {
  @extend .full-screen;
  background-image:
  url(../images/fon-4.png);

  .container {
    text-align: center;
  }
}

/*************************/
/*	Navigation
/*************************/

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 30px;
  text-align: center;
  // background-color: rgba(255, 255, 255, 0.6);
  background: rgba(243,221,233,0.6); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(243,221,233,0.6) 0%, rgba(249,220,206,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(243,221,233,0.6) 0%,rgba(249,220,206,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(243,221,233,0.6) 0%,rgba(249,220,206,0.6) 100%); /* W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dde9', endColorstr='#f9dcce',GradientType=0.6 ); /* IE6-9 */

  a {
    margin: 0 30px;
    text-decoration: none;
    opacity: 0.7;
    color: #433440;
    font-size: 16px;
  }
  .selected {
    padding: 10px;
    border-bottom: 3px solid $selected-color;
  }
}

/*************************/
/*	Divs and Forms
/*************************/

.transparent-paper {
  display: block;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 30px 20px;
  color: #656565;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 3px 5px 8px 0 rgba(102, 102, 102, 0.49);
  border-radius: 0;

  h1 {
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 32px;
  }

  /* Qeydiyyat */
  input {
    width: 100%;
    display: block;
    margin: 10px auto;
    background: #f5f5f5;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 15px;
    caret-color: $selected-color;
  }

  input:focus {
    border: 1px solid $open-blue-color;
  }

  input::placeholder {
    color: #555;
  }

  input[type="submit"] {
    background: $open-blue-color;
    color: #fff;
    max-width: 200px;
  }

  /* Arzu */
  .dream-details {
    h2,h3 {
      color: #5916be;
      text-align: center;
    }
    h2 {
      font-size: 16px;
      margin: 15px 0 5px;
    }
    h3 {
      font-size: 14px;
      margin: 5px 0 20px;
    }
  }

  .profile-photo {
    background-color: $open-blue-color;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%;
    img {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .dream-click {
    display: block;
    width: 100%;
    border: 2px solid $open-blue-color;
    text-decoration: none;
    text-transform: uppercase;
    color: $open-blue-color;
    padding: 10px;
    margin: 0;
    text-align: center;
    transition: 0.2s ease;
  }
  .dream-click:hover {
    background-color: $open-blue-color;
    color: #fff;
  }
}

.repost-text {
  position: relative;
  h1 {
    position: absolute;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 10px;
    top: 22%;
    margin: 0 auto;
    width: 100%;
  }
}

/*************************/
/*	Xmas Tree
/*************************/

.yelka-container {
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  // p {
  //   font-size: 20px;
  //   max-height: 10%;
  //   max-width: 500px;
  //   margin: 0 auto;
  // }
  .yelka {
    // position: absolute;
    // top: 0;
    // left: 0;
    // margin: 0 auto;
    max-height: calc(100vh - 100px);
  }

  .lights-grid {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*************************/
/*	Media Queries
/*************************/

@media only screen and (min-width: 768px) {
  .full-screen-register {
    .iqrushki {
      left: 20%;
      height: 40vh;
    }
  }

  .repost-text {
    h1 {
      line-height: 1.1;
      font-size: 25px;
      top: 22%;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .full-screen-register {
    .iqrushki {
      left: 25%;
      height: 50vh;
    }
  }
}
