/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************************/
/*	Variables and Mixins
/*************************/
/*************************/
/*	General Classes
/*************************/
.container {
  max-width: 800px;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  display: block;
  width: 100%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col-4, .col-6, .col-8, .col-12 {
  padding: 0 10px;
  float: left; }

.col-4 {
  width: 33.33%; }

.col-6 {
  width: 50%; }

.col-8 {
  width: 66.66%; }

.col-12 {
  width: 100%; }

.img-responsive {
  max-width: 100%; }

.red-text {
  display: block;
  margin: 30px 0 5px;
  color: #ff4d4d; }

/*************************/
/*	Body and Full Screen
/*************************/
* {
  box-sizing: border-box; }

html, body, .full-screen, .full-screen-register, .full-screen-dream {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1; }

small {
  font-size: 11px;
  line-height: 1.45; }

.full-screen, .full-screen-register, .full-screen-dream {
  background-image: url(../images/bg.jpg);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  padding-top: 100px; }

.full-screen-register {
  background-image: url(../images/iqrushki-2.png), url(../images/podarki.png), url(../images/fon-3.png); }
  .full-screen-register .iqrushki {
    position: absolute;
    top: 0;
    left: 30%;
    height: 70vh;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')"; }

.full-screen-dream {
  background-image: url(../images/oblaka.png), url(../images/fon-2.png); }

/*************************/
/*	Navigation
/*************************/
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 30px;
  text-align: center;
  background: rgba(243, 221, 233, 0.6);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(243, 221, 233, 0.6) 0%, rgba(249, 220, 206, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(243, 221, 233, 0.6) 0%, rgba(249, 220, 206, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(243, 221, 233, 0.6) 0%, rgba(249, 220, 206, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dde9', endColorstr='#f9dcce',GradientType=0.6 );
  /* IE6-9 */ }
  .main-nav a {
    margin: 0 30px;
    text-decoration: none;
    opacity: 0.7;
    color: #433440;
    font-size: 16px; }
  .main-nav .selected {
    padding: 10px;
    border-bottom: 3px solid #b6d1ed; }

/*************************/
/*	Divs and Forms
/*************************/
.transparent-paper {
  display: block;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 30px 20px;
  color: #656565;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 3px 5px 8px 0 rgba(102, 102, 102, 0.49);
  border-radius: 0;
  /* Qeydiyyat */
  /* Arzu */ }
  .transparent-paper h1 {
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 32px; }
  .transparent-paper input {
    width: 100%;
    display: block;
    margin: 10px auto;
    background: #f5f5f5;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 15px;
    caret-color: #b6d1ed; }
  .transparent-paper input:focus {
    border: 1px solid #00aeef; }
  .transparent-paper input::placeholder {
    color: #555; }
  .transparent-paper input[type="submit"] {
    background: #00aeef;
    color: #fff;
    max-width: 200px; }
  .transparent-paper .dream-details small {
    font-size: 10px; }
  .transparent-paper .dream-details h2 {
    font-size: 14px;
    padding: 10px 0 2px;
    color: #5916be; }
  .transparent-paper .dream-details h3 {
    padding: 0 0 10px;
    color: #5916be; }
  .transparent-paper .profile-photo {
    background-color: #00aeef;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%; }
    .transparent-paper .profile-photo img {
      max-width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .transparent-paper .dream-click {
    display: block;
    width: 100%;
    background-color: #00aeef;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center; }

/*************************/
/*	Xmas Tree
/*************************/
.yelka-container {
  padding-top: 10px;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  height: calc(100vh - 90px); }
  .yelka-container img {
    height: 85%; }
  .yelka-container p {
    font-size: 20px;
    max-height: 10%;
    max-width: 500px;
    margin: 0 auto; }

/*.yelka-lights {

	.lightbulbs {
		position: absolute;

		ul {
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			z-index: 1;
			margin: -15px 0 0 0;
			padding: 0;
			pointer-events: none;
			width: 100%;

			li {
				position: relative;
				animation-fill-mode: both;
				animation-iteration-count:infinite;
				list-style: none;
				margin: 0;
				padding: 0;
				display: block;
				width: $globe-width;
				height: $globe-height;
				border-radius: 50%;
				margin: $globe-spacing/2;
				display: inline-block;
				background: rgba(0,247,165,1);
				box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
				animation-name: flash-1;
				animation-duration: 2s;
				&:nth-child(2n+1) {
					background: rgba(0,255,255,1);
					box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
					animation-name: flash-2;
					animation-duration: 0.4s;
				}
				&:nth-child(4n+2) {
					background: rgba(247,0,148,1);
					box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
					animation-name: flash-3;
					animation-duration: 1.1s;
				}
				&:nth-child(odd) {
					animation-duration: 1.8s;
				}
				&:nth-child(3n+1) {
					animation-duration: 1.4s;
				}

				&:before {
					content: "";
					position: absolute;
					background: #222;
					width: ($globe-width - 4);
					height: $globe-height/5;
					border-radius: 3px;
					top: (0 - ($globe-height/6));
					left: 2px;
				}
				&:after {
					content: "";
					top: (0 - $globe-height/3);
					left: $globe-width - 6;
					position: absolute;
					width: $globe-spacing + 12;
					height: ($globe-height/5 * 2);
					border-bottom: solid #222 2px;
					border-radius: 50%;
				}
				&:last-child:after {
					content: none;
				}
				&:first-child {
					margin-left: -$globe-spacing;
				}
			}
		}
	}
}
@keyframes flash-1 {
	0%, 100% { background: rgba(0,247,165,1);
		box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);}
		50% { background: rgba(0,247,165,$light-off-opacity);
			box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
		}
@keyframes flash-2 {
	0%, 100% { background: rgba(0,255,255,1);
		box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);}
		50% { background: rgba(0,255,255,$light-off-opacity);
			box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
		}
@keyframes flash-3 {
	0%, 100% { background: rgba(247,0,148,1);
		box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);}
		50% { background: rgba(247,0,148,$light-off-opacity);
			box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
		}*/

/*# sourceMappingURL=main.css.map */
